<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LabourMapper">
   <select id = "getLabourList" parameterType="pd" resultType="com.mcfish.entity.common.Labour">
	   select
				*,
				(
					select
						count(id)
					from 
						tb_labour
					<where>
						<if test="keyword != null  and keyword!='' ">
							and (
									`key` LIKE CONCAT('%', #{keyword} '%')
									or `value` LIKE CONCAT('%', #{keyword} '%')
									or comment LIKE CONCAT('%', #{keyword} '%')
								) 
						</if>
					</where>
				) as total
			from 
				tb_labour
			<where>
				<if test="keyword != null  and keyword!='' ">
					and (
							`key` LIKE CONCAT('%', #{keyword} '%')
							or `value` LIKE CONCAT('%', #{keyword} '%')
							or comment LIKE CONCAT('%', #{keyword} '%')
						) 
				</if>
				and status = 1
			</where>
			<if test="length != null  and length!='' and length != -1">
			    limit #{start},#{length}
			</if>
   </select>
</mapper>
